#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10000000;
}

.hideValidateMessage,
.hideLogout {
  display: none;
}

.showValidateMessage {
  display: block;
}

.circle {
  width: 100px;
}

.people-search {
  margin-top: 20px;
}

.bitbook {
  font-size: 20px;
}

.loader-style {
  position: absolute;
  top: 450px;
  left: 700px;
}

#welcome-header {
  display: none;
}

.team-name {
  text-align: center;
  padding-bottom: 20px;
}