.video-post {
    padding-top: 20px;
}

.card-video {
    margin-top: 20px;
    margin-bottom: 20px ;
    margin-left: 20px;
    margin-right: 20px;
}

.post-color {
    color: black;
}

#hide {
    display: none;
}

.parent {
    position: relative;
}

.delete-button {
    display: block;
    background-color: rgb(216, 143, 131);
    text-align: right;
    border-radius: 50%;
    position: absolute;
    top:0px;
    right: 12px;
    margin-bottom: 5px;
}

.single-post {
    margin-top: 50px;
}