.form-wrapper {
    border: 1px solid black;
}

.form-wrapper {
    margin-top: 60px;
}

.login-form {
    padding: 20px;
}

.active1 {
    background-color: rgb(216, 143, 131);
    color: white;
    border-radius: 30px;
    text-align: center;
}

.login-text {
    padding: 40px;
}

#comment-button {
    background-color: rgb(216, 143, 131);
    border-radius: 30px;
    text-align: center;
}