.form-wrapper {
    border: 1px solid black;
    margin-top: 60px;
    border-radius: 10px;
}

.login-form {
    padding: 20px;
}

.active1 {
    background-color: #ee6e73;
    color: white;
    border-radius: 4px;
}

.login-text {
    margin-right: 20px;
}

#comment-button {
    background-color: rgb(216, 143, 131);
    border-radius: 30px;
    margin-bottom: 5%;
    text-align: right;
}